.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border-bottom: 0;
}

.card-icon {
    margin-right: 1em;
}

.card {
    border: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #332d4f;
    padding: 1.5em;
}

.card-footer {
    background-color: transparent;
    border-top: 0;
    padding: 0;
}

.card-title {
    margin-bottom: 0;
}

.card-body {
    padding: 0;
}